services:
  mariadb:
    image: mariadb:10.6
    container_name: cabi_db
    restart: always
    environment:
      MARIADB_DATABASE: cabi
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      TZ: Asia/Seoul
    ports:
      - "13306:3306"
    volumes:
      - ./db_data:/var/lib/mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:alpine
    container_name: cabi_redis
    ports:
      - "${REDIS_PORT}:6379"
    environment:
      TZ: Asia/Seoul
    command: redis-server --appendonly yes
    volumes:
      - ./redis_data:/data
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  prometheus:
    image: prom/prometheus:latest
    container_name: cabi_prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    expose:
      - "9090"
    depends_on:
      - backend
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: cabi_grafana
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
    volumes:
      - grafana_data:/var/lib/grafana

  backend:
    container_name: cabi_backend
    build: .
    restart: on-failure
    expose:
      - "8080"
    environment:
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - FT_CLIENT_ID=${FT_CLIENT_ID}
      - FT_CLIENT_SECRET=${FT_CLIENT_SECRET}
      - SLACK_BOT_TOKEN=${SLACK_BOT_TOKEN}
      - jwt.secret=${JWT_SECRET}
      - FRONTEND_URL=${FRONTEND_URL}
      - AI_SERVER_URL=${AI_SERVER_URL}
      - COOKIE_SECURE=${COOKIE_SECURE}
      - TZ=Asia/Seoul
    depends_on:
      - mariadb
      - redis
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  nginx:
    image: nginx:latest
    container_name: cabi_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - backend
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  grafana_data:
